<!DOCTYPE html>
<html>
<head>
    <title>Account Details</title>
</head>
<body>
    <h2>Account Details</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Roll Number:</strong> {{ roll_number }}</p>
    <p><strong>Phone Number:</strong> {{ user.userprofile.phone_number }}</p>
    <a href="{% url 'update_profile' %}">Click Here To Update Profile</a><br>
    <a href="{% url 'change_password' %}">Click Here To Change Password</a><br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>