<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>
</head>
<body>
    <h2>Messages</h2>
    <h3>Sent Messages</h3>
    <ul>
        {% for message in sent_messages %}
        <li>
            <p>Message: {{ message.content }}</p>
            <p>Item: {{ message.item.name }}</p>
            <p>Recipient: {{ message.receiver.username }}</p>
            <p>Status: Sent</p>
        </li>
        {% endfor %}
    </ul>

    <h3>Received Messages</h3>
    <ul>
        {% for message in received_messages %}
        <li>
            <p>Message: {{ message.content }}</p>
            <p>Item: {{ message.item.name }}</p>
            <p>Sender: {{ message.sender.username }}</p>
            <p>Status: Received</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
