<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h2>Welcome to Thriftify!</h2>
    <p>This is a place for the students of IIT Palakkad to buy and sell used items.</p>
    {% if user.is_authenticated %}
        <p>You are logged in as: {{ user.username }}</p>
        <a href="{% url 'account' %}">My Account</a><br>
        <a href="{% url 'shop' %}">Shop</a><br>
        <a href="{% url 'seller_items' %}">Sell</a><br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</body>
</html>
