{% extends "master.html" %}


{% block title %}
    Change Password
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    <div class="footer">
        <p>Change Password</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}