{% extends "master.html" %}


{% block title %}
    Home
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="links">
            <a href="{% url 'account' %}">My Account </a> <a> ⬤ </a>
            <a href="{% url 'sell' %}"> Sell an<br> item </a> <a> ⬤ </a>
            <a href="{% url 'shop' %}" class="shoplink"> Shop </a> <a> ⬤ </a>
            <a href="{% url 'logout' %}"> Logout</a>
        </div>
    {% else %}
    <div class="links">
        <a href="{% url 'login' %}">Login </a> <a> ⬤ </a> <a href="{% url 'signup' %}"> Sign Up</a>
    </div>
    {% endif %}

    <div class="footer">
        {% if user.is_authenticated %}
        <p>{{ greeting }} {{ user.userprofile.name }}!</p>
        {% else %}
        <p>A place for the students of IIT Palakkad to buy and sell used items.</p>
        {% endif %}
      </div>


    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}
