{% extends "master.html" %}


{% block title %}
    <title>Login</title>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>
    </form>
    <center><p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p></center>
    <div class="footer">
        <p>Login</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}