{% extends "master.html" %}


{% block title %}
    Order Success
{% endblock %}


{% block content %}
    <h1>Order Request Sent Successfully!</h1>
    <p>The seller has been notified!</p>
    <p>Order ID: {{ order_id }}</p>
    <p>Keep an eye on <a href="{% url 'your_orders' %}">Your Orders</a> for updates!</p>
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    <div class="footer">
        <p>Success!</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}