{% extends "master.html" %}


{% block title %}
    Shop
{% endblock %}


{% block content %}
    {% if item.status == "available" and item.seller.username != user.username %}
    <div>
        <center><img src="{{ item.picture.url }}" alt="{{ item.name }} picture" height="300"></center>
        <h3><p>{{ item.name }}</p></h3>
        <p>Price: ₹{{ item.price }}</p>
        <p>Sold by: <a href="{% url 'user_info' item.seller.username %}">{{ item.seller.username }}</a></p>
        <p>{{ item.description }}</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Buy this!</button>
    </form>
    {% elif item.status == "available" and item.seller.username == user.username %}
    <div>
        <center><img src="{{ item.picture.url }}" alt="{{ item.name }} picture" height="300"></center>
        <h3><p>{{ item.name }}</p></h3>
        <p>Price: ₹{{ item.price }}</p>
        <p>Sold by: <a href="{% url 'user_info' item.seller.username %}">{{ item.seller.username }}</a></p>
        <p>{{ item.description }}</p>
    </div>
    {% else %}
    <div>
        <center><img id="soldimg" src="{{ item.picture.url }}" alt="{{ item.name }} picture" height="300"></center>
        <h3><p><del>{{ item.name }}</del> <font color="red">SOLD</font></p></h3>
        <p><del>Price: ₹{{ item.price }}</del></p>
        <p>Sold by: <a href="{% url 'user_info' item.seller.username %}">{{ item.seller.username }}</a></p>
        <p>Description: {{ item.description }}</p>
    </div>
    {% endif %}
    <style>
        #soldimg {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}
    </style>
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    <div class="footer">
        <p>{{ item.name }}</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}