{% extends "master.html" %}


{% block title %}
    Received Orders
{% endblock %}


{% block content %}
    <table style="width:100%">
        <tr>
        <th>Order ID</th>
        <th>Buyer</th>
        <th>Item</th>
        <th>Status</th>
        <th>Item Availability</th>
        <th></th>
        </tr>
    {% for order in orders %}
    {% if order.status == "pending" and order.item.status == "available" %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.buyer.username }}</td>
            <td>{{ order.item.name }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.item.status }} &nbsp;</td>
            <td><form method="post" action="{% url 'accept_order' order.id %}">
                {% csrf_token %}
                <p>Comment:</p>
                <textarea name="comment" rows="4" cols="50"></textarea><br>
                <button type="submit">Accept</button>
            </form>
            <form method="post" action="{% url 'decline_order' order.id %}">
                {% csrf_token %}
                <button type="submit">Decline</button>
            </form>
        </td>
        </tr>
    {% elif order.status == "pending" and order.item.status == "sold" %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.buyer.username }}</td>
            <td>{{ order.item.name }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.item.status }}</td>
            <form method="post" action="{% url 'decline_order' order.id %}">
                {% csrf_token %}
                <p>Comment:</p>
                <textarea name="comment" rows="4" cols="50"></textarea><br>
                <button type="submit">Decline</button>
            </form>
        </tr>
    {% else %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.buyer.username }}</td>
            <td>{{ order.item.name }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.item.status }}</td>
        </tr>
    {% endif %}
    {% empty %}
        No received orders.
    {% endfor %}
    </table>
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    <div class="footer">
        <p>Received Orders</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}
