{% extends "master.html" %}


{% block title %}
    Sell Item
{% endblock %}


{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <a href="{{request.META.HTTP_REFERER}}">Go back</a><br><br><br><br><br>
    <div class="footer">
        <p>Sell Item</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}
