{% extends "master.html" %}


{% block title %}
    Update Profile
{% endblock %}


{% block content %}
    <center><form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form></center>
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    <div class="footer">
        <p>Update Profile</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}