{% extends "master.html" %}

{% block title %}
    <title>User Info</title>
{% endblock %}


{% block content %}
    <h2>@{{ user_profile.user.username }}</h2>
    <p>Name: {{ user_profile.name }}</p>
    <p>Email: {{ user_profile.email }}</p>
    <p>Phone Number: {{ user_profile.phone_number }}</p>
    
    <h3>Items Being Sold:</h3>
    <ul>
    {% for item in user_items %}
        <li><a href="{% url 'product_detail' item.id %}">{{ item.name }}</a> - Price: {{ item.price }} - {{ item.status }}</li>
    {% empty %}
        <li>No items being sold.</li>
    {% endfor %}
    </ul>
    <div class="footer">
        <p>User Info</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}