{% extends "master.html" %}


{% block title %}
    Your Items
{% endblock %}


{% block content %}
    <script>
        function toggleForm(itemId) {
            var form = document.getElementById('update-form-' + itemId);
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }
    </script>
    <table style="width:100%">
        <tr><th>Item</th>
            <th>Price</th>
            <th>Description</th>
            <th></th></tr>
    {% for item in seller_items %}
            <tr>
            <td><a href="{% url 'product_detail' item.id %}">{{ item.name }}</a></td>
        <td><p>{{ item.price }}</p></td>
        <td><p>{{ item.description }}</p></td>
        <td><button onclick="toggleForm({{ item.id }})">Update</button>
        <td><form id="update-form-{{ item.id }}" method="post" action="{% url 'update_item' item.id %}" style="display: none;">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ item.name }}"><br>
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" value="{{ item.price }}"><br>
                <label for="description">Description:</label>
                <textarea id="description" name="description">{{ item.description }}</textarea><br>
                <button type="submit">Update</button>
            </form></td></tr>
    {% empty %}
        No items found.
    {% endfor %}
    </table>
    <div class="footer">
        <p>Your Items</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}