{% extends "master.html" %}


{% block title %}
    <title>Your Orders</title>
{% endblock %}


{% block content %}
    <table style="width:100%">
        <tr><th>Order ID</th>
            <th>Item</th>
            <th>Status</th>
            <th>Message from seller</th></tr>
    {% for order in user_orders %}
    {% if order.status == "pending" %}
        <tr>
            <td>{{ order.id }}</td>
            <td><a href="{% url 'product_detail' order.item.id %}">{{ order.item.name }}</a></td>
            <td>{{ order.status }}</td>
        </tr>
    {% else %}
        <tr>
            <td>{{ order.id }}</td>
            <td><a href="{% url 'product_detail' order.item.id %}">{{ order.item.name }}</a></td>
            <td>{{ order.status }}</td>
            <td>{{ order.comment }}</td>>
        </tr>
    {% endif %}
    {% empty %}
        No orders found.
    {% endfor %}
    </table>
    <div class="footer">
        <p>Your Orders</p>
    </div>
    <style>
        p {
            font-family: "Sono";
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}